{
    "development": {
        "client_username": "john.roe",
        "client_password": "john.roe",
        "agent_username": "john.doe",
        "agent_password": "john.doe",
        "public_url": "https://auth.vbase.docker/realms/client/protocol/openid-connect",
        "private_url": "https://auth.vbase.docker/realms/operations/protocol/openid-connect",
        "third_party_url": "https://auth.vbase.docker/realms/third-party/protocol/openid-connect",
        "auth_url": "https://auth.vbase.docker",
        "private_api_key": "secret"
    },
    "production": {
        "client_username": "john.roe",
        "client_password": "john.roe",
        "agent_username": "john.doe",
        "agent_password": "john.doe",
        "public_url": "https://auth.vbase.io/realms/client/protocol/openid-connect",
        "private_url": "https://auth.vbase.io/realms/operations/protocol/openid-connect",
        "third_party_url": "https://auth.vbase.io/realms/third-party/protocol/openid-connect",
        "auth_url": "https://auth.vbase.io",
        "private_api_key": "secret"
    }
}
